.main {
    position: relative;
    z-index: 101;
}


/* header */

.header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.header__content {
    margin: 0 auto;
    width: 960px;
}

.header__content:after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 30px;
    right: 30px;
    height: 1px;
    background-color: #151515;
}

.header__logo {
    position: relative;
    float: left;
    height: 70px;
    line-height: 70px;
}

.header__logo .tt1 {
    display: inline-block;
    opacity: 1;
    visibility: visible;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}

.header__logo .tt2 {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}

.header__logo .tt3 {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}

.header__logo img {
    vertical-align: middle;
}

.header__logo:active {
    top: 1px;
}

.header__menu {
    padding-top: 20px;
    text-align: right;
}

.header__menu-link {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff !important;
    text-decoration: none;
}

.header__menu-link:active {
    top: 1px;
}

.header__menu-link:after {
    display: block;
    content: '';
    width: 0;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
}

.header__menu-link:hover:after {
    width: 100%;
}

.header__menu-link:nth-last-child(2) {
    margin-left: 120px;
}

.header__menu-link:first-child {
    margin-left: 0;
}

.header__menu-link:last-child {
    margin-right: 0;
}

.header__social-mobile-control {
    display: none;
}

.header__social {
    display: none;
}

.second-screen__mass-media {
    text-align: center;
}


/* header */


/* first section */

.first-screen {
    background: #151515;
    position: relative;
    height: 730px;
}

.first-screen__light {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 730px;
    pointer-events: none;
}

.first-screen__title {
    line-height: 50px;
    font-size: 46px;
    color: #ffffff;
    font-family: 'Raleway Bold', sans-serif;
    margin: 0;
}

.first-screen__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.first-screen__desc {
    line-height: 40px;
    font-size: 27px;
    color: #ffffff;
    margin-bottom: 14px;
}

.first-screen__content {
    margin: 0 auto;
    padding-top: 240px;
    max-width: 960px;
}

.first-screen__textures {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    height: 730px;
    pointer-events: none;
}

.first-screen__lab3m {
    position: absolute;
    top: 384px;
    left: calc(50% - 128px);
    width: 685px;
    visibility: hidden;
}

.first-screen__flash {
    position: absolute;
    top: -164px;
    left: calc(50% + 15px);
    width: 554px;
    visibility: hidden;
    z-index: 2;
}


/* first section */


/* button sic */

.button-sic_center {
    text-align: center;
}

.button-sic__item {
    position: relative;
    z-index: 0;
    display: inline-block;
    border-radius: 25px;
    background-color: #ffba00;
    -webkit-box-shadow: 0 8px 15px 0 rgba(128, 56, 9, 0.07);
    box-shadow: 0 8px 15px 0 rgba(128, 56, 9, 0.07);
    overflow: hidden;
}

.button-sic__item_w280 {
    margin: 0 10px;
}

.button-sic__item:first-child {
    margin-left: 0;
}

.button-sic__item:last-child {
    margin-right: 0;
}

.button-sic__link {
    position: relative;
    display: block;
    text-align: center;
    line-height: 50px;
    width: 180px;
    font-size: 20px;
    border-radius: 25px;
    color: #ffffff;
    -webkit-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
}

.button-sic__item_w280 .button-sic__link {
    padding: 0;
    width: 280px;
    text-align: center;
}

.button-sic__link:active {
    top: 1px;
}

.button-sic__link::before,
.button-sic__link::after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 100%;
    content: '';
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    transition: -webkit-transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    -o-transition: transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    transition: transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    transition: transform 300ms cubic-bezier(0.75, 0, 0.125, 1), -webkit-transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
}

.button-sic__link::before {
    background-color: #6927ff;
}

.button-sic__link::after {
    background-color: #6927ff;
}

.button-sic__link:hover {
    color: #ffffff;
}

.button-sic__link:hover::before,
.button-sic__item a:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button-sic__link:hover::after {
    -webkit-transition-delay: 175ms;
    -o-transition-delay: 175ms;
    transition-delay: 175ms;
}


/* button sic */


/* loader */

div.loader {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    visibility: visible;
    opacity: 1;
    -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
}

div.loader.hide {
    visibility: hidden;
    opacity: 0;
}

div.loader div.content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.loader img {
    display: block;
    margin: 0 auto;
    height: 200px;
}


/* loader */


/* second-screen */

.second-screen {
    position: relative;
    z-index: 500;
    background: #ffffff;
}

.second-screen__content {
    padding: 150px 0;
}

.second-screen__hr {
    padding: 75px 0;
    background: url(../images/main/dots.svg) repeat-x 50% 50%;
    text-align: center;
}

.second-screen__hr p {
    display: inline-block;
    line-height: 20px;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.second-screen__mass-media img {
    margin: 0 35px;
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    animation: massmediaimg 600ms linear;
    -webkit-animation: massmediaimg 600ms linear;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.second-screen__mass-media img:first-child {
    margin-left: 0;
}

.second-screen__mass-media img:last-child {
    margin-right: 0;
}

.second-screen__mass-media img:nth-child(2) {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.second-screen__mass-media img:nth-child(2) {
    animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
}

.second-screen__mass-media img:nth-child(3) {
    animation-delay: 600ms;
    -webkit-animation-delay: 600ms;
}

@-webkit-keyframes massmediaimg {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes massmediaimg {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.second-screen__logo {
    padding-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}

.second-screen__logo img {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: rotate infinite 4s linear;
    animation: rotate infinite 4s linear;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.second-screen__arrow,
.main.wrapper2 .arrow,
.main.wrapper3 .arrow {
    height: 40px;
    background: url('../images/arrow/white.svg') no-repeat 50% 50%;
}

.second-screen__title {
    line-height: 40px;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.second-screen__deploy {
    margin: -5px auto 0;
    max-width: 600px;
}

.second-screen__desc {
    line-height: 36px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.second-screen__desc_hidden {
    display: none;
}

.second-screen__desc_last-part-active {
    height: auto;
}

.second-screen__read-wrapper {
    padding-top: 20px;
    text-align: center;
}

.second-screen__read {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    color: #ff4200;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    cursor: pointer;
}

.second-screen__read img {
    position: absolute;
    top: 5px;
    right: 0;
    -webkit-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
}

.second-screen__read.active img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* second-screen */


/* block.lafka */

.block.lafka,
.block.red {
    position: relative;
    z-index: 200;
    padding: 100px 0;
}

.block.lafka {
    padding: 119px 0 128px;
}

.block.red {
    padding: 118px 0 150px;
}

.block.red h3 {
    margin-bottom: 0;
}

.block.lafka h3,
.block.red h3 {
    line-height: 60px;
    font-size: 46px;
    font-family: 'Raleway Light', sans-serif;
    color: #ffffff;
    text-align: center;
}

.block.lafka h3 {
    margin-bottom: -2px;
}

.block.lafka h2,
.block.red h2 {
    line-height: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #ffc6a0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-top: 2px;
}

.block.lafka div.arrow,
.block.red div.arrow {
    height: 40px;
    background: url(../images/arrow/red.svg) no-repeat 50% 50%;
}

.block.lafka .outer-phone {
    margin-top: 85px;
    margin-bottom: 200px;
}

.block.lafka .phone {
    position: relative;
}

.block.lafka .outer-phone .video1,
.block.lafka .outer-phone .lafka-shadow,
.block.lafka .outer-phone .phone-svg {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.block.lafka .outer-phone .video1 {
    top: 67px;
}

.block.lafka .outer-phone .lafka-shadow {
    top: -57px;
}

.block.lafka .outer-phone p.title {
    line-height: 44px;
    font-size: 30px;
    font-family: 'Raleway Bold', sans-serif;
    color: #ffffff;
    text-align: right;
    margin-top: 140px;
    margin-bottom: 5px;
}

.block.lafka .outer-phone p.desc {
    line-height: 34px;
    font-size: 20px;
    font-family: 'Raleway Light', sans-serif;
    color: #ffffff;
    text-align: right;
}

.block.lafka .outer-phone .lafka-platform {
    margin-top: 126px;
    margin-bottom: 32px;
}

.block.lafka .outer-phone a.button {
    padding: 0 40px 0 30px;
    display: inline-block;
    margin-top: 41px;
    line-height: 46px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background: url(../images/main/lafka-arrow.svg) no-repeat 150px 50%;
    border: 2px solid #ffba00;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    width: 203px;
}

.block.lafka .outer-phone a.button::before,
.block.lafka .outer-phone a.button::after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 100%;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    transition: -webkit-transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    -o-transition: transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    transition: transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    transition: transform 300ms cubic-bezier(0.75, 0, 0.125, 1), -webkit-transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
}

.block.lafka .outer-phone a.button::before {
    background-color: #6927ff;
}

.block.lafka .outer-phone a.button::after {
    background-color: #6927ff;
}

.block.lafka .outer-phone a.button:hover {
    color: #ffffff;
}

.block.lafka .outer-phone a.button:hover::before,
.block.lafka .outer-phone a.button:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.block.lafka .outer-phone a.button:hover::after {
    -webkit-transition-delay: 175ms;
    -o-transition-delay: 175ms;
    transition-delay: 175ms;
}


/* block.lafka */


/* main.wrapper2 */

.main.wrapper2 {
    background-color: #ffffff;
    padding: 100px 0;
}

.main.wrapper2 h3 {
    line-height: 60px;
    font-size: 46px;
    font-family: 'Raleway Light', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    margin-top: 38px;
    margin-bottom: 0;
}

.main.wrapper2 h2 {
    line-height: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-top: 2px;
    margin-bottom: 106px;
}

.main.wrapper2 .wrap2 {
    text-align: center;
}

.main.wrapper2 .wrap2 .img {
    line-height: 150px;
    vertical-align: middle;
}

.main.wrapper2 .wrap2 .title {
    line-height: 30px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 93px;
}

.main.wrapper2 .wrap2 .desc {
    padding-top: 3px;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
}


/* main.wrapper2 */


/* main.wrapper2 */

.main.wrapper3 {
    background-color: #fff5de;
}

.main.wrapper3 h3 {
    line-height: 60px;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}

.main.wrapper3 h2 {
    line-height: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* main.wrapper2 */


/* main.wrapper3 */

.main.wrapper3 {
    background-color: #fff5de;
    padding: 115px 0 0;
}

.main.wrapper3 .content {
    margin: 0 auto;
    padding: 0 0 197px;
    max-width: 960px;
    width: 100%;
}

.main.wrapper3 h3 {
    line-height: 60px;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}

.main.wrapper3 div.arrow {
    height: 40px;
    background: url('../images/arrow/orange.svg') no-repeat 50% 50%;
}

.main.wrapper3 h2 {
    line-height: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: -10px 0 8px 0px;
}

.main.wrapper3 div.round {
    position: relative;
    margin: 100px auto 0;
    width: 442px;
    height: 442px;
    background: url('../images/main/w3.light.svg') no-repeat 50% 50%, url('../images/main/w3.light.shadow.svg') no-repeat 50% 50%;
}

.main.wrapper3 div.round img.r1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: rotation1 infinite 20s linear;
    animation: rotation1 infinite 20s linear;
}

@-webkit-keyframes rotation1 {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes rotation1 {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.main.wrapper3 div.round img.r2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: rotation2 infinite 20s linear;
    animation: rotation2 infinite 20s linear;
}

@-webkit-keyframes rotation2 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotation2 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.main.wrapper3 div.round div.analysis {
    position: absolute;
    top: 0;
    left: 0;
    width: 129px;
    height: 129px;
}

.main.wrapper3 div.round div.design {
    position: absolute;
    top: 0;
    right: 0;
    width: 129px;
    height: 129px;
}

.main.wrapper3 div.round div.development {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 129px;
    height: 129px;
}

.main.wrapper3 div.round div.product {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 129px;
    height: 129px;
    margin-top: 31px;
}

.main.wrapper3 div.round div.design img {
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.main.wrapper3 div.round div.development img {
    -webkit-animation-delay: 2000ms;
    animation-delay: 2000ms;
}

.main.wrapper3 div.round div.product img {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}

.main.wrapper3 div.round img.increase {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    -webkit-animation: increase 500ms ease-in-out 1;
    animation: increase 500ms ease-in-out 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes increase {
    66% {
        width: 110%;
        height: 110%;
    }
    99% {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    100% {
        top: 0;
        left: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 100%;
        height: 100%;
    }
}

@keyframes increase {
    66% {
        width: 110%;
        height: 110%;
    }
    99% {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    100% {
        top: 0;
        left: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 100%;
        height: 100%;
    }
}

.main.wrapper3 .round .analysis .item {
    position: absolute;
    left: -300px;
    width: 250px;
    opacity: 0;
    -webkit-animation: appearance-left 1000ms ease-in-out 1;
    animation: appearance-left 1000ms ease-in-out 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.main.wrapper3 .round .design .item {
    position: absolute;
    right: -300px;
    width: 250px;
    opacity: 0;
    -webkit-animation: appearance-right 1000ms ease-in-out 1;
    animation: appearance-right 1000ms ease-in-out 1;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.main.wrapper3 .round .development .item {
    position: absolute;
    right: -300px;
    width: 250px;
    opacity: 0;
    -webkit-animation: appearance-right 1000ms ease-in-out 1;
    animation: appearance-right 1000ms ease-in-out 1;
    -webkit-animation-delay: 2000ms;
    animation-delay: 2000ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.main.wrapper3 .round .product .item {
    position: absolute;
    left: -300px;
    width: 250px;
    opacity: 0;
    -webkit-animation: appearance-left 1000ms ease-in-out 1;
    animation: appearance-left 1000ms ease-in-out 1;
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes appearance-left {
    100% {
        left: -250px;
        opacity: 1;
    }
}

@keyframes appearance-left {
    100% {
        left: -250px;
        opacity: 1;
    }
}

@-webkit-keyframes appearance-right {
    100% {
        right: -250px;
        opacity: 1;
    }
}

@keyframes appearance-right {
    100% {
        right: -250px;
        opacity: 1;
    }
}

.main.wrapper3 div.round p.title {
    padding-bottom: 10px;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #ff4200;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.main.wrapper3 div.round p.desc {
    line-height: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
}


/* main.wrapper3 */


/* .block.red */

.white-block {
    max-width: 900px;
    width: 100%;
    margin: 114px auto;
    background: #fff;
    text-align: center;
    padding: 44px 0 63px;
    position: relative;
}

.block.red .startap:not(:last-child) {
    border-right: 1px solid #e6e6e3;
}

.startap .stap {
    height: 200px;
    vertical-align: middle;
}

.block.red .startap .title {
    padding: 38px 0 13px;
    line-height: 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #fa5a1c;
    text-align: center;
}

.block.red .startap .desc {
    padding: 20px 10px;
    position: relative;
    line-height: 29px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-bottom: 0;
}

.startap .desc:before,
.startap .desc:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #e6e6e3;
    width: 198px;
    height: 1px;
}

.startap .desc:before {
    top: 0;
}

.startap .desc:after {
    bottom: 0;
}

.block.red .startap .price {
    display: inline-block;
    padding-top: 23px;
    line-height: 30px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #ff4200;
}

.block.red img.shadow {
    position: absolute;
    left: 50%;
    bottom: 180px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


/* .block.red */


/* button sic */

div.buttonSicWrapper {
    line-height: 0;
    font-size: 0;
}

div.buttonSicWrapper.center {
    text-align: center;
}

div.buttonSicWrapper.center div.buttonSic a {
    position: relative;
    z-index: 1;
    display: block;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
}

div.buttonSic {
    position: relative;
    z-index: 0;
    display: inline-block;
    margin: 0 10px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffba00;
    -webkit-box-shadow: 0 8px 15px 0 rgba(128, 56, 9, 0.07);
    box-shadow: 0 8px 15px 0 rgba(128, 56, 9, 0.07);
    overflow: hidden;
}

div.buttonSic:first-child {
    margin-left: 0;
}

div.buttonSic:last-child {
    margin-right: 0;
}

div.buttonSic input {
    position: relative;
    z-index: 1;
    display: block;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
    background: transparent;
    border: medium none;
}

div.buttonSic.w280 input {
    padding: 0;
    width: 280px;
    text-align: center;
}

div.buttonSic.w280::before,
div.buttonSic.w280::after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 100%;
    content: '';
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    transition: -webkit-transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    -o-transition: transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    transition: transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
    transition: transform 300ms cubic-bezier(0.75, 0, 0.125, 1), -webkit-transform 300ms cubic-bezier(0.75, 0, 0.125, 1);
}

div.buttonSic.w280::before {
    background-color: #6927ff;
}

div.buttonSic.w280::after {
    background-color: #6927ff;
}

div.buttonSic input:hover {
    color: #ffffff;
}

div.buttonSic.w280:hover::before,
div.buttonSic.w280:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

div.buttonSic.w280:hover::after {
    -webkit-transition-delay: 175ms;
    -o-transition-delay: 175ms;
    transition-delay: 175ms;
}


/* button sic */

.phone-left,
.phone-right,
.r1-min,
.r2-min,
div.footer div.logof-min,
div.footer p.desc-min,
.foot-logo-min {
    display: none;
}

@media (max-width: 991px) {
    .main.wrapper3 {
        overflow-x: hidden;
    }
    .top-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .header {
        position: fixed;
        z-index: 1000;
    }
    .header_white {
        background: #ffffff;
        -webkit-box-shadow: inset 0 -1px 0 0 rgba(226, 226, 226, 1), 0 5px 10px 0 rgba(226, 226, 226, 0.15);
        box-shadow: inset 0 -1px 0 0 rgba(226, 226, 226, 1), 0 5px 10px 0 rgba(226, 226, 226, 0.15);
        -webkit-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
    }
    .header__content {
        width: 100%;
        text-align: center;
    }
    .header_white .header__content:after {
        background: transparent;
    }
    .header__logo {
        visibility: hidden;
        float: none;
    }
    .header_white .tt1 {
        opacity: 0;
        visibility: hidden;
    }
    .header_white .tt2 {
        opacity: 1;
        visibility: visible;
    }
    .header__menu-mobile-control {
        display: block;
        position: absolute;
        z-index: 102;
        top: 0;
        left: 0;
        width: 90px;
        height: 70px;
        background: url('../images/menu.svg') no-repeat 30px 50%;
        cursor: pointer;
        -webkit-transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        -o-transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        -webkit-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
    }
    .header_white .header__menu-mobile-control {
        background-image: url('../images/menu2.svg');
    }
    .header__menu-mobile-control_close {
        background-image: url('../images/close.svg') !important;
    }
    .header__menu {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        padding-top: 0;
        background: #fff;
        overflow: hidden;
        visibility: hidden;
        -webkit-transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        -o-transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        -webkit-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
    }
    .header__menu_visible {
        height: 100%;
        visibility: visible;
    }
    .header__menu-link {
        display: block;
        margin: 0;
        line-height: 60px;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        /* transition-duration: 200ms; */
    }
    .header__menu-link:hover {
        background: rgba(255, 255, 255, 0.2);
    }
    .header__menu-link:first-child {
        margin-top: 70px;
    }
    .header__menu-link:last-child {
        margin-bottom: 0px;
    }
    .header__menu-link:active {
        top: 0;
    }
    .header__menu_visible .header__menu-link {
        opacity: 1;
    }
    .header__menu-link:nth-last-child(2) {
        margin-left: auto;
    }
    .header__menu-link:after {
        position: absolute;
        bottom: 0;
        left: 30px;
        right: 30px;
        width: auto;
        background: rgba(255, 255, 255, 0.3);
    }
    .header__menu-link:last-child:after {
        background: transparent;
    }
    /**/
    .header__social-mobile-control {
        display: block;
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        width: 90px;
        height: 70px;
        background: url('../images/social.svg') no-repeat 28px 50%;
        cursor: pointer;
        -webkit-transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        -o-transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        -webkit-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
    }
    .header_white .header__social-mobile-control {
        background: url('../images/social2.svg') no-repeat 28px 50%;
    }
    .header__social-mobile-control_active {
        background: url('../images/social.svg') no-repeat 28px 50%, #fff;
    }
    .header__social {
        display: block;
        position: absolute;
        z-index: 100;
        top: 70px;
        right: 0;
        overflow: hidden;
        visibility: hidden;
    }
    .header__social_visible {
        display: block;
        visibility: visible;
    }
    .header__social-link {
        position: relative;
        display: block;
        padding: 0 80px 0 30px;
        line-height: 60px;
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
        background: #fff;
        text-align: right;
        text-decoration: none;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        -o-transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        transition-timing-function: cubic-bezier(0.75, -0.17, 0.23, 1.19);
        -webkit-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
    }
    .header__social-link:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 30px;
        right: 30px;
        height: 1px;
        background: rgba(255, 255, 255, 0.3);
    }
    .header__social-link:last-child:after {
        width: 0;
    }
    .header__social_visible .header__social-link {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .header__social-link:nth-child(1) {
        -webkit-transition-delay: 40ms;
        -o-transition-delay: 40ms;
        transition-delay: 40ms;
    }
    .header__social-link:nth-child(2) {
        -webkit-transition-delay: 80ms;
        -o-transition-delay: 80ms;
        transition-delay: 80ms;
    }
    .header__social-link:nth-child(3) {
        -webkit-transition-delay: 120ms;
        -o-transition-delay: 120ms;
        transition-delay: 120ms;
    }
    .header__social-link:nth-child(4) {
        -webkit-transition-delay: 160ms;
        -o-transition-delay: 160ms;
        transition-delay: 160ms;
    }
    .header__social-link:nth-child(5) {
        -webkit-transition-delay: 200ms;
        -o-transition-delay: 200ms;
        transition-delay: 200ms;
    }
    .header__social-link:nth-child(6) {
        -webkit-transition-delay: 240ms;
        -o-transition-delay: 240ms;
        transition-delay: 240ms;
    }
    .header__social-link img {
        position: absolute;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    /* header */
    /**/
    .first-screen__light {
        background-position: 50% 0;
    }
    .first-screen__lab3m {
        position: absolute;
        top: 140px;
        left: 50%;
        -webkit-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
        height: 144px;
        width: auto;
        visibility: visible;
        -webkit-transition-duration: 2000ms;
        -o-transition-duration: 2000ms;
        transition-duration: 2000ms;
    }
    .first-screen__lab3m_scale {
        -webkit-transition-duration: 2000ms;
        -o-transition-duration: 2000ms;
        transition-duration: 2000ms;
        -webkit-transform: translateX(-50%) scale(0.5) !important;
        -ms-transform: translateX(-50%) scale(0.5) !important;
        transform: translateX(-50%) scale(0.5) !important;
    }
    .first-screen__flash {
        display: none;
    }
    .first-screen__content {
        padding-top: 350px;
        width: 100%;
        text-align: center;
    }
    .first-screen__title {
        padding: 0px 30px 12px;
        font-size: 56px;
    }
    .first-screen__desc {
        padding: 0 30px 31px;
        font-size: 34px;
        letter-spacing: -.3px;
        margin-bottom: 1px;
    }
    /**/
    .main.wrapper3 .content {
        margin: 0 auto;
        padding: 0 0 336px;
    }
    .main.wrapper3 .round {
        margin-top: 280px;
    }
    .block.red h2 {
        margin-top: 3px;
    }
    .block.red .block {
        margin: 118px auto 115px;
    }
    .main.wrapper3 .round .design .item {
        top: -155px;
        left: -45px;
    }
    .main.wrapper3 .round .analysis .item {
        top: -159px;
        left: -75px;
    }
    .main.wrapper3 .round .development .item {
        top: 152px;
        left: -40px;
    }
    .main.wrapper3 .round .product .item {
        top: 153px;
        left: -90px;
    }
    @-webkit-keyframes appearance-left {
        100% {
            opacity: 1;
        }
    }
    @keyframes appearance-left {
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes appearance-right {
        100% {
            opacity: 1;
        }
    }
    @keyframes appearance-right {
        100% {
            opacity: 1;
        }
    }
    /* second-screen */
    .second-screen__title {
        letter-spacing: 3px;
    }
    .second-screen__mass-media {
        position: relative;
    }
    .second-screen__content {
        padding: 150px 30px 131px;
        width: auto;
        overflow: hidden;
    }
    .second-screen__mass-media img:last-child,
    .second-screen__mass-media img:first-child,
    .second-screen__mass-media img {
        margin: 30px 35px 50px;
    }
    .second-screen__hr {
        padding: 26px 0 26px;
    }
    .second-screen__logo {
        margin-top: 69px;
    }
    /* second-screen */
    /* .block.lafka */
    .block.lafka {
        padding: 119px 0 145px;
    }
    .block.lafka .outer-phone p.title {
        padding-right: 3px;
        margin-top: 62px;
    }
    .block.lafka .phone {
        height: 600px;
    }
    .block.lafka .outer-phone .lafka-platform {
        margin-top: 53px;
        padding-left: 5px;
        margin-bottom: 30px;
    }
    .lafka {
        padding-left: 5px;
    }
    .block.lafka .outer-phone {
        margin-bottom: 0;
    }
    .block.lafka .outer-phone a.button {
        margin-left: 5px;
        margin-top: 40px;
        text-align: center;
        background-position: 154px 50%;
        padding: 0 30px 0 0;
    }
    .block.lafka .outer-phone p.desc {
        padding: 0 4px 0 40px;
        letter-spacing: .1px;
    }
    /* .block.lafka */
    /* .main.wrapper2 */
    .main.wrapper2 .wrap2 .title {
        text-align: left;
        margin-top: 10px;
        padding-left: 20px;
        float: left;
        width: calc(100% - 228px);
    }
    .main.wrapper2 .wrap2 .img {
        float: left;
        width: 228px;
    }
    .main.wrapper2 .wrap2 .desc {
        padding-top: 4px;
        line-height: 32px;
        text-align: left;
        float: left;
        width: calc(100% - 228px);
        padding-left: 20px;
    }
    .img img {
        padding-top: 10px;
    }
    .main.wrapper2 .wrap2:nth-child(2) {
        margin-bottom: 82px;
    }
    .main.wrapper2 .wrap2:nth-child(3) {
        margin-bottom: 72px;
    }
    div.buttonSicWrapper.center {
        margin-top: 109px;
        margin-bottom: 0;
    }
    /* .main.wrapper2 */
    /* .main.wrapper2 */
    .main.wrapper3 div.round {
        margin-top: 268px;
    }
    .main.wrapper3 div.round p.title {
        padding-bottom: 0;
        margin-bottom: 8px;
    }
    /* .main.wrapper2 */
    /* .white-block */
    .white-block {
        margin: 117px auto 7px;
        max-width: 710px;
        padding: 61px 0 53px;
    }
    .startap .stap {
        float: left;
        width: 232px;
    }
    .block.red .startap .title,
    .block.red .startap .desc,
    .block.red .startap .price {
        float: left;
        width: calc(100% - 232px);
        text-align: left;
    }
    .block.red .startap .title {
        padding: 1px 0 13px 14px;
    }
    .block.red .startap:not(:last-child) {
        border-right: medium none;
        margin-bottom: 58px;
    }
    .block.red .startap:nth-child(2) {
        margin-bottom: 68px;
    }
    .block.red .startap .desc {
        padding: 20px 14px;
    }
    .block.red .startap .price {
        padding: 26px 0 0 14px;
    }
    .block.red img.shadow {
        bottom: 335px;
        width: 95%;
    }
    /* .white-block */
}

@media only screen and (max-width: 767px) {
    /* first-screen */
    .first-screen__title {
        padding: 0 30px;
    }
    .first-screen__light {
        background-size: auto 70%;
    }
    .first-screen__content {
        padding-top: 287px;
    }
    .first-screen__desc {
        padding: 0 20px 45px;
        line-height: 30px;
        font-size: 20px;
    }
    .first-screen__title {
        line-height: 40px;
        font-size: 35px;
        padding-bottom: 1px;
    }
    .first-screen__lab3m {
        top: 120px;
        height: 112px;
    }
    .first-screen__desc {
        padding: 0 20px 45px;
        line-height: 30px;
        font-size: 20px;
    }
    /* first-screen */
    /* second-screen */
    .second-screen__hr {
        margin-top: 46px;
    }
    .second-screen__arrow {
        margin: 5px 0 -5px;
    }
    div.main.wrapper3 div.arrow {
        margin-bottom: 3px;
    }
    .second-screen__content {
        padding-top: 115px;
    }
    .second-screen__mass-media {
        padding-bottom: 0;
    }
    .second-screen__mass-media img:first-child {
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin: 0 auto 90px;
    }
    .second-screen__mass-media img {
        display: block;
        margin: 0 auto 90px;
    }
    .second-screen__mass-media img:last-child {
        margin: 0 auto;
    }
    .second-screen__deploy {
        width: auto;
    }
    .language-program {
        overflow: auto;
        padding-right: 20px;
    }
    /* second-screen */
    /* .block.lafka */
    .block.lafka {
        padding: 59px 0 113px;
    }
    .block.lafka .outer-phone p.title {
        margin-top: 42px;
        text-align: center;
    }
    .block.lafka .outer-phone p.desc {
        padding: 0;
        text-align: center;
    }
    .block.lafka .outer-phone .lafka-platform {
        margin-top: 41px;
        padding-left: 0px;
        text-align: center;
    }
    .lafka {
        padding-left: 11px;
        text-align: center;
    }
    .block.lafka .outer-phone a.button {
        margin-left: 0px;
        padding: 2px 30px 0 0;
    }
    /* .block.lafka */
    /* .main.wrapper2 */
    .main.wrapper2 {
        padding: 39px 0 120px;
    }
    .main.wrapper2 .wrap2 .img,
    .main.wrapper2 .wrap2 .title,
    .main.wrapper2 .wrap2 .desc,
    .startap .stap,
    .block.red .startap .title,
    .block.red .startap .desc,
    .block.red .startap .price {
        float: none;
        width: auto;
        text-align: center;
        padding: 0;
    }
    .main.wrapper2 h2 {
        margin-bottom: 64px;
    }
    .main.wrapper2 .wrap2 .title {
        margin-top: 37px;
        margin-bottom: 13px;
    }
    .main.wrapper2 .wrap2:nth-child(2) {
        margin-bottom: 99px;
    }
    .main.wrapper2 .wrap2:nth-child(3) {
        margin-bottom: 103px;
    }
    /* .main.wrapper2 */
    /* .main.wrapper3 */
    .main.wrapper3 {
        padding: 60px 0 0;
    }
    .main.wrapper3 h3 {
        line-height: 51px;
        padding: 0 10px;
    }
    .main.wrapper3 h2 {
        margin-top: -7px;
    }
    .main.wrapper3 div.round {
        margin-top: 281px;
        width: 420px;
        height: 420px;
    }
    .main.wrapper3 .round .analysis .item {
        top: -198px;
        left: 16px;
        width: 180px;
    }
    .main.wrapper3 .round .design .item {
        top: -198px;
        left: -65px;
        width: 180px;
    }
    .main.wrapper3 .round .product .item {
        top: 169px;
        left: 15px;
        width: 180px;
    }
    .main.wrapper3 .round .development .item {
        top: 169px;
        left: -64px;
        width: 180px;
    }
    .main.wrapper3 .content {
        padding-bottom: 307px;
    }
    /* .main.wrapper3 */
    /* .block.red */
    .block.red {
        padding: 58px 0 150px;
    }
    /* .block.red */
    /* .white-block */
    .white-block {
        max-width: 390px;
        margin-top: 83px;
        padding-top: 35px;
    }
    .startap .stap {
        float: none;
        line-height: 200px;
    }
    .block.red .startap .title {
        margin-top: 48px;
        margin-bottom: 20px;
    }
    .block.red .startap .desc {
        display: block;
        padding: 22px 0;
        margin-bottom: 22px;
    }
    .block.red .startap:not(:last-child) {
        margin-bottom: 76px;
    }
    /* .white-block */
}

@media only screen and (max-width: 449px) {
    .header__logo .tt1 img {
        width: 146px;
    }
    .header__content:after {
        left: 20px;
        right: 20px;
    }
    .header__logo {
        height: 60px;
        line-height: 60px;
    }
    .header_white .tt2 {
        opacity: 0;
        visibility: hidden;
    }
    .header_white .tt3 {
        opacity: 1;
        visibility: visible;
    }
    .header__menu-mobile-control {
        width: 70px;
        height: 60px;
        background-position-x: 21px;
    }
    .header__menu_visible {
        padding-top: 0px;
    }
    .header__menu-link:after {
        left: 20px;
        right: 20px;
    }
    .header__social-mobile-control {
        width: 70px;
        height: 60px;
        background-position-x: 18px;
    }
    .header__social {
        top: 60px;
    }
    .header__social-link {
        padding: 0 70px 0 20px;
    }
    .header_white .header__social-mobile-control {
        background-position-x: 18px;
    }
    .header_white .header__social-mobile-control_active {
        background: url('../images/social.svg') no-repeat 18px 50%, #fff;
    }
    .first-screen {
        height: 560px;
    }
    .first-screen__light {
        background-size: auto 50%;
    }
    .first-screen__lab3m {
        top: 110px;
        height: 76px;
    }
    .first-screen__content {
        padding-top: 220px;
    }
    .first-screen__title {
        padding: 0 10px;
        line-height: 40px;
        font-size: 29px;
    }
    .second-screen__mass-media img,
    .second-screen__mass-media img:first-child {
        margin-bottom: 70px;
    }
    .second-screen__mass-media img:last-child {
        margin-bottom: 5px;
    }
    .first-screen__desc {
        padding-bottom: 37px;
        letter-spacing: 0px;
    }
    .second-screen__title {
        letter-spacing: 3.2px;
    }
    .second-screen__content {
        padding-top: 61px;
    }
    .second-screen__content {
        padding: 61px 10px 115px;
        width: auto;
    }
    .second-screen__mass-media img {
        height: 100px;
    }
    .second-screen__deploy {
        padding: 0 10px;
    }
    .second-screen__hr {
        margin-top: 52px;
    }
    .block.lafka h2,
    .block.red h2 {
        letter-spacing: .4px;
        margin-top: 3px;
        font-size: 11px;
    }
    .block.lafka .outer-phone p.title {
        font-size: 24px;
    }
    .block.lafka .outer-phone p.desc {
        font-size: 18px;
    }
    .block.lafka h3,
    .block.red h3 {
        font-size: 40px;
    }
    .block.lafka {
        padding-top: 61px
    }
    .block.lafka .col-pad,
    .main.wrapper2 .col-pad {
        padding: 0;
    }
    .block.lafka .outer-phone {
        margin-top: 83px;
    }
    .block.lafka .outer-phone p.title {
        margin-top: 39px;
        margin-bottom: 6px;
    }
    .lafka {
        padding-left: 0;
    }
    .block.lafka .outer-phone .lafka-platform {
        margin-bottom: 32px;
    }
    .main.wrapper2 h3 {
        font-size: 40px;
        line-height: 54px;
        margin-top: 44px;
    }
    .main.wrapper2 h2 {
        font-size: 10px;
        letter-spacing: 1px;
        margin-top: 3px;
    }
    .main.wrapper3 h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .main.wrapper3 h2 {
        margin-top: -5px;
        font-size: 10px;
    }
    .r1-max,
    .r2-max {
        visibility: hidden !important;
    }
    .r1-min,
    .r2-min {
        display: block;
    }
    .main.wrapper3 div.round {
        width: 282px;
        height: 282px;
        margin-top: 300px;
    }
    .main.wrapper3 .round .analysis .item {
        top: -195px;
        left: 19px;
        width: 140px;
    }
    .main.wrapper3 .round .design .item {
        top: -195px;
        left: auto;
        right: 16px;
        width: 140px;
    }
    .main.wrapper3 .round .product .item {
        top: 162px;
        left: 20px;
        width: 140px;
    }
    .main.wrapper3 .round .development .item {
        top: 162px;
        left: auto;
        right: 17px;
        width: 140px;
    }
    .main.wrapper3 .desc {
        line-height: 25px !important;
        font-size: 14px !important;
    }
    .main.wrapper3 div.round p.title {
        letter-spacing: 3px;
    }
    .main.wrapper3 div.round img.r1 {
        max-width: 162px;
        max-height: 162px;
        top: 50%;
        left: 50%;
        margin: -81px 0 0 -81px;
    }
    .main.wrapper3 div.round {
        background: url(../images/main/w3.light-min.svg) no-repeat 50% 50%;
    }
    .main.wrapper3 div.round div.analysis {
        left: -22px;
        top: -22px;
    }
    .main.wrapper3 div.round div.design {
        top: -22px;
        right: -22px;
    }
    .main.wrapper3 div.round div.product {
        left: -22px;
        bottom: -22px;
    }
    .main.wrapper3 div.round div.development {
        right: -22px;
        bottom: -22px;
    }
    .main.wrapper3 .content {
        padding-bottom: 329px;
    }
    .block.red {
        padding: 61px 0 80px;
    }
    .block.red h3 {
        margin-bottom: -3px;
    }
    .white-block {
        max-width: 280px;
        margin-top: 83px;
        padding: 35px 0 46px;
    }
    div.buttonSic {
        max-width: 285px;
        width: 100%;
    }
    .block.red div.buttonSicWrapper.center {
        margin-top: 73px;
    }
    .footer p.desc-mail {
        letter-spacing: -.2px;
    }
    .last-foot {
        margin-top: 18px;
    }
    .block.lafka .outer-phone .lafka-shadow {
        display: none;
    }
}